:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#logButton {
  margin: 50px;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  cursor: pointer;
  font-weight: 500;
}

#file-picker {
  padding: 0.6em 0.6em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#inputs {
  display: flex;
  align-items: center;
}

.span {
  font-family: "Brush Script MT", cursive;
  font-size: 4.5em;
}

#toggle {
  position: relative;
  display: flex;
  margin: 5em 0;
  justify-content: center;

  align-items: center;
  gap: 0;
}

#label {
  /* margin: 2em; */
  position: absolute;
  font-family: "Brush Script MT", cursive;
  margin: 0 -1.5em;
  font-size: 2em;
  position: relative;
  /* width: 3em; */
  /* height: 1.5em; */
}

input {
  width: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#icon,
#notification-switch {
  width: 0;
  height: 0;
  display: none;
}

.switch {
  margin: 0 4em;
  font-size: 1.3em;
  position: relative;
  display: block;
  width: 3em;
  height: 1.5em;
  background-color: #ccc;
  border-radius: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* margin-left: 0.5em;  */
  /* border: solid 2px; */
}

.switch::after {
  content: "";
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 0.15em;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

#notification-switch:checked+.switch {
  background-color: #28a745;
}

#notification-switch:checked+.switch::after {
  transform: translate(120%, -50%);
}
